<div id="section" style="display: flex;">
    <div class="col s2 m2 l2">
        <div id="profilPic">
            <img id="profilScreen" src="../../assets/images/user.png">
        </div>
    </div>
    <div id="" class="col s2 m2 l2">
        <h3>#NomUtilisateur</h3>
        <p>Addiction #001</p>
        <p>Addiction #002</p>
    </div>
    <div class="bubleSection col s2 m2 l2">
        <div class="bubleInfos">
            <p>X</p>
        </div>
        <p>Jours défis</p>
    </div>
    <div id="" class="bubleSection col s2 m2 l2">
        <div class="bubleInfos">
            <p>X</p>
        </div>
        <p>Jours succès</p>

    </div>
    <div id="" class="bubleSection col s2 m2 l2">
        <div class="bubleInfos">
            <p>X</p>
        </div>
        <p>Moyenne jours</p>

    </div>
    <div id="" class="col s2 m2 l2">
        <button id="addBtn">
            <p>+</p>
        </button>
    </div>
</div>


<div id="goalLabel" style="display: flex;">
    <div id="" class="col s6 m6 l6">
        <p>Objectifs</p>
    </div>

    <div id="" class="col s6 m6 l6">
        <button id="addGoalBtn" (click)="openConfirmationDialogAdd()">
            <p>+</p>
        </button>
    </div>
</div>

<div id="goalPanel">
    <div class="col s12 m12 l12" style="display: flex; margin-top: 20px;">
        <div class="col s6 m6 l6">
            <ul>
                <li>Premier objectif de </li>
            </ul>
        </div>
        <div class="col s6 m6 l6">
            <label class="toggle">
                <input type="checkbox" />
                <span class="slider"></span>
            </label>

        </div>
    </div>

    <div class="col s12 m12 l12" style="display: flex;" *ngFor="let objectif of objList">
        <div class="col s6 m6 l6">
            <ul>
                <li>
                    {{objectif.name}}
                </li>
            </ul>
        </div>
        <div class="col s6 m6 l6">
            <label class="toggle">
                <input type="checkbox" />
                <span class="slider"></span> <button id="suppGoalBtn" (click)="openConfirmationDialog(objectif.id)">
                    <p>x</p>
                </button>
            </label>
            
        </div>
    </div>
</div>



<div id="result" class="col s12 m12 l12">
    <p>Résultats</p>
    <h2>75</h2>
    <h3>%</h3>
</div>