<app-header></app-header>

<div id="band"></div>
<input type="radio" name="item" checked="checked" id="section1" />
<input type="radio" name="item" id="section2" />
<input type="radio" name="item" id="section3" />
<input type="radio" name="item" id="section4" />

<nav class="nav">
  <label class="nav-item" for="section1"></label>
  <label class="nav-item" for="section2"></label>
  <label class="nav-item" for="section3"></label>
  <label class="nav-item" for="section4"></label>
</nav>
<section>
  <h2>Page 1</h2>
</section>
<section>
  <h2>Page 2</h2>
</section>
<section>
  <h2>Page 3</h2>
</section>
<section>
  <h2>Page 4</h2>
</section>
<div class="cover" style="top:250px !important;"></div>

<div class="row">
    <div id="accomp" class="col-5">
        <h2>L'accompagnement Stop Addict</h2>
        <h3>Lorem ipsum dolor sit amet.</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Fusce ante nisi, molestie sed semper eu, gravida vel ante.
            Sed posuere turpis nec risus convallis egestas. Quisque
            pulvinar tortor sed sollicitudin pulvinar. Ut tincidunt erat ac
            consequat rhoncus. Sed gravida sed lorem ac sollicitudin. 
            Etiam id varius lacus. Duis vitae sapien posuere, ullamcorper 
            nisi a, congue ex.</p>


        <div style="display:flex;">
            <button style="margin: 5% 0 0 10%;">S'inscrire</button>
            <button style="margin: 5% 0 0 5%;">Aider</button>

        </div>
    </div>
    
    <div id="box" class="col-7">
        <div id="boxIn">
            <div style="display:flex;margin-top: 2%;">
                <div style="margin:2%;  width:50%">
                    <h2>Assistance</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Fusce ante nisi, molestie sed semper eu, gravida vel ante.
                         Sed posuere turpis nec risus convallis egestas. 
                         Quisque pulvinar tortor sed sollicitudin pulvinar. </p>
                </div>
                <div style="margin:2%; width:50%">
                    <h2>Aide medical</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Fusce ante nisi, molestie sed semper eu, gravida vel ante.
                         Sed posuere turpis nec risus convallis egestas. 
                         Quisque pulvinar tortor sed sollicitudin pulvinar. </p>
                </div>
            </div>

            <div style="display:flex;margin-top: 2%;">
                <div  style="margin:2%; width:50%;">
                    <h2>Entraide</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Fusce ante nisi, molestie sed semper eu, gravida vel ante.
                         Sed posuere turpis nec risus convallis egestas. 
                         Quisque pulvinar tortor sed sollicitudin pulvinar. </p>
                </div>
                <div  style="margin:2%;width:50%; ">
                    <h2>Protèger</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Fusce ante nisi, molestie sed semper eu, gravida vel ante.
                         Sed posuere turpis nec risus convallis egestas. 
                         Quisque pulvinar tortor sed sollicitudin pulvinar. </p>
                </div>
            </div>
        </div>
    </div>
    

</div>